body {
    background-color: rgb(95, 100, 103);
}

.sideBar {
    height: 100%;
}

.grafico {
    border: 3px solid black;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.621);
    border-radius: 25px;
    color: black;
    background-color: white;
}

.iconoSideBar {
    fill: white;
    width: 30px;
    margin-right: 10px;
}

.logo {
    fill: white;
    width: 80px
}