{% extends '../layout/base.html' %} {% block content %} {% load static %}

<section class="container text-center">
  <div class="row">
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_transacciones|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_elementos|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_elementos_top_10|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_recurrentes|safe }}
    </div>
    <h3 class="text-center">Casos Borde Graficados</h3>
    <div class="mt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      {{ div_daily_sales_trend|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_null_chart|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_duplicate_chart|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_extreme_transactions|safe }}
    </div>
    <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      {{ div_quantity_distribution|safe }}
    </div>
  </div>
</section>
{% endblock %}
