{% extends '../layout/base.html' %} {% block content %} {% load static %}

  <section class="container">
    <div class="row">

        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Cantidad de Ventas por Género</h2>
          <!-- Div donde se mostrará el gráfico de pastel de Plotly -->
          {{ div_genero|safe }}
        </div>
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Ventas mensuales por tipo de producto</h2>
          <!-- Div donde se mostrará el gráfico de barras de Plotly -->
          {{ div_ventas_producto_por_mes|safe }}
        </div>
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Top 10 Ventas Semanales por edad</h2>
          <!-- Div donde se mostrará el gráfico de barras de Plotly -->
          {{ div_top_10_ventas_semanales_por_edad|safe }}
        </div>
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Distribución de Edades de los Compradores</h2>
          <!-- Div donde se mostrará el histograma de Plotly -->
          {{ div_distribucion_edades|safe }}
        </div>
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Numero de Ventas por Ubicación Geográfica</h2>
          <!-- Div donde se mostrará el gráfico de barras de Plotly -->
          {{ div_histograma_ventas_por_ubicacion|safe }}
        </div>
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Tendencia de Numero de ventas</h2>
          <!-- Div donde se mostrará el gráfico de líneas de Plotly -->
          {{ div_tendencia_compra|safe }}
        </div>
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2>Distribución de Ventas por Método de Pago</h2>
          <!-- Div donde se mostrará el gráfico de barras de Plotly -->
          {{ div_ventas_por_metodo_pago|safe }}
        </div>
    </div>
  </section>



{% endblock %}